@charset "utf-8";

.fl {
	float: left;
}

.fr {
	float: right;
}

#head {
	width: 100%;
	height: 110px;

	.head {
		width: 1210px;
		height: 110px;
		margin: 0 auto;

		.logo {
			width: 170px;
			height: 60px;
			float: left;
			margin-top: 24px;
			background: url(../img/indeximgs/logo-201305-b.png)no-repeat 0 0;
			background-size: 170px 60px;
			margin-right: 10px;
		}

		.logo_title {
			height: 60px;
			line-height: 60px;
			font-size: 24px;
			color: #333;
			margin-top: 34px;
		}

		.have_account {
			width: 136px;
			height: 17px;
			line-height: 18px;
			font-size: 12px;
			float: right;
			margin-top: 55px;
			color: #999;

			i {
				float: left;
				width: 18px;
				height: 14px;
				margin: 0 5px;
				background: url(../img/indeximgs/q-icon.png) no-repeat center;
			}
		}
	}
}

#main {
	width: 100%;
	background: #e93854;

	.main {
		position: relative;
		width: 1210px;
		margin: 0 auto;
		height: 475px;

		.loginbox {
			position: absolute;
			right: -20px;
			top: 30px;
			width: 346px;
			height: 390px;
			padding: 20px;
			background: #fff;

			h2 {
				width: 304px;
				height: 55px;
				font-size: 18px;
				font-weight: 700;
				text-align: center;
				line-height: 55px;
				color: #e4393c;
			}

			.h2xia {
				width: 306px;
				height: 23px;
				color: #666;
				margin: 5px 0px;
			}

			.nwbox {
				width: 304px;
				height: 38px;
				background: #fff;
				border: 1px solid #bdbdbd;
				margin-bottom: 30px;

				.phone {
					line-height: 36px;
					height: 36px;
					width: 302px;
					float: none;
					font-size: 14px;
					padding: 0px 0px 0px 10px;
				}

				.password {
					line-height: 36px;
					height: 36px;
					width: 302px;
					float: none;
					font-size: 14px;
					padding: 0px 0px 0px 10px;
				}

			}

			.loginbtn {
				width: 304px;
				height: 38px;
				background: #e4393c;
				font-size: 20px;
				font-weight: 700;
				line-height: 38px;
				text-align: center;
				border: 1px solid #bdbdbd;
				margin: 60px 0px 30px;
				color: #fff;
			}

			.reg {
				width: 304px;
				height: 38px;
				background: #fff;
				margin-bottom: 30px;
				color: #666;
				font-size: 12px;
				text-align: right;
			}
		}

	}

}

.foot {
	width: 1210px;
	height: 66px;
	font-size: 12px;
	color: #999;
	margin: 0px auto;
	padding: 30px 0 15px;

	ul {
		width: 778px;
		height: 20px;
		text-align: center;
		margin: 0px auto;

		li {
			float: left;
			border-right: 1px solid #999;

			a {
				color: #999;
				margin: 0 10px;
			}
		}
	}
}

.banquan {
	font-size: 12px;
	color: #999;
	text-align: center;
	margin-bottom: 30px;
}