/* header头部模块 */
.header {
    position: relative;
    height: 120px;
    /* background: pink; */
}

/* <!-- logo模块制作 --> */
.logo {
    position: absolute;
    top: 30px;
    width: 134px;
    height: 42px;
    /* background: powderblue; */
}

.logo a {
    display: block;
    width: 134px;
    height: 42px;
    background: url(../img/goodslistimgs/jdlogo_201708__1x.png) no-repeat;
    background-size: 134px 42px;
    font-size: 0;
}

/* 搜索框模块制作 */
.search {
    position: absolute;
    top: 38px;
    left: 380px;
    width: 560px;
    height: 36px;
}

.search input {
    float: left;
    width: 452px;
    height: 36px;
    padding-left: 5px;
    border: 2px solid;
    border-color: #B61D1D;
}

.search button {
    float: left;
    width: 52px;
    height: 36px;
    color: #fff;
    background: #B61D1D;
    font-size: 12px;
}

/* 热点词模块 */
.hotwords {
    position: absolute;
    top: 80px;
    left: 380px;
    width: 706px;
    height: 24px;
}

.hotwords a {
    font-size: 12px;
    margin-right: 5px;
    color: #999;
}

.hotwords b {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}


.hotwords a:hover {
    color: #B61D1D;
}

/* 购物车模块 */
.shopcar {
    position: absolute;
    top: 38px;
    left: 990px;
    width: 138px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    border: 1px solid #DFDFDF;
    background: #F9F9F9;
    z-index: 3;
}

.shopcar .icon-gouwuchekong {
    margin-right: 10px;
    color: #B61D1D;
}

.shopcar a {
    color: #000;
    font-size: 12px;
    padding-left: 10px;
}

.shopcar .count {
    position: absolute;
    top: -5px;
    left: 117px;
    height: 16px;
    line-height: 16px;
    background: #B61D1D;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 7px;
}

#shopcar .dorpdown-layer {
    position: absolute;
    display: none;
    right: 0;
    width: 308px;
}

#shopcar .prompt {
    padding: 10px 15px;
}

#shopcar .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

#shopcar .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(../img/indeximgs/settleup-nogoods.png);
}

#shopcar:hover {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#shopcar:hover .dorpdown-layer {
    display: block;
    margin-top: -2px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#shop-head {
    width: 100%;
    height: 150px;
    background: url(../img/detailimgs/7e7520e0ba20cf88.jpg) no-repeat;
}

#shop-head .sh-brand {
    position: relative;
    margin: 0 auto;
    width: 990px;
    overflow: hidden;
}

#shop-head .sh-brand .shop-logo-box {
    position: absolute;
    top: 50%;
}

#shop-head .sh-hot-wrap img {
    width: 180px;
    height: 60px;
}

#shop-head .sh-brand .shop-name-box {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    left: 190px;
    vertical-align: top;
}

#shop-head .sh-brand .shop-name-box .shop-name {
    font-size: 18px;
    color: #333;
}

#shop-head .sh-brand .for-light-bg {
    color: #fff;
    background-position: 0 -66px;
    width: 71px;
    height: 23px;
    background: #B61D1D;
    font-size: 12px;
    border-radius: 7px;
}

/* 店铺头部导航 */

.sh-nav {
    width: 100%;
    height: 40px;
}

.sh-nav .menu-list {
    width: 900px;
    height: 40px;
    list-style: none;
    float: left;
}

.sh-nav .menu-list .menu {
    float: left;
    line-height: 24px;
    height: 24px;
    padding: 0px 15px;
    border-radius: 12px;
    margin: 0 10px;
}

.sh-nav .menu-list .menu .main-link {
    position: relative;
    z-index: 4;
    display: block;
    color: #333;
    border-radius: 12px;
}

.sh-nav .menu-list li:hover {
    color: #fff !important;
    background-color: #333;
}

.sh-nav .menu-list li:hover a {
    color: #fff !important;
}

.sh-nav .s-form {
    float: right;
}

.sh-nav .s-form .s-inp {
    padding: 0 0 0 10px;
    width: 130px;
    line-height: 24px;
    height: 24px;
    background-color: #ffffff;
    color: #c9c9c9;
    vertical-align: top;
    outline: none;
    border: solid 1px #e1e1e1;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.sh-nav .s-form .s-submit {
    margin-left: -5px;
    padding: 0 10px;
    border: 0;
    height: 23px;
    width: 46px;
    cursor: pointer;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    background: #333 url(../img/detailimgs/583543d4Nc7e0c1a4.png) no-repeat center;
}

.crumb-wrap {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    z-index: 5;
    clear: both;
    position: relative;
    font-size: 12px;
}

.crumb {
    padding: 13px 0 9px;
}

.crumb,
.crumb-wrap {
    position: relative;
    z-index: 5;
}

.crumb .item {
    float: left;
    margin: 0 5px;
}

/* 详情产品模块制作 */

.product-intro {
    position: relative;
    width: 1210px;
    height: 544px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-intro .preview-wrap {
    width: 352px;
    float: left;
    padding-bottom: 15px;
}

.preview {
    position: relative;
}

.preview .jqzoom {
    position: relative;
    padding: 0;
}

.preview .main-img {
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.preview .main-img img {
    width: 350px;
    height: 350px;
}

.preview .jqZoomPup {
    position: absolute;
    top: 112px;
    left: 112px;
    width: 236px;
    height: 236px;
    opacity: 0.5;
    background: #ccc;
    z-index: 3;
    display: none;
}

.preview .zoomdiv {
    position: absolute;
    top: 0;
    left: 371px;
    width: 540px;
    height: 540px;
    display: block;
    overflow: hidden;
    display: none;
    z-index: 66;
}

.preview .zoomdiv img {
    width: 800px;
    height: 800px;
    position: absolute;
}


.preview .spec-list {
    margin-bottom: 18px;
    position: relative;
}

.preview .spec-list .arrow-next,
.preview .spec-list .arrow-prev {
    display: block;
    width: 22px;
    height: 32px;
    float: left;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -16px;
}

.preview .spec-list .arrow-prev {
    left: 0;
}

.preview .spec-list .arrow-next {
    right: 0;
}

.preview .spec-list .arrow-prev .sprite-arrow-prev {
    display: block;
    width: 22px;
    height: 32px;
    background-image: url(../img/detailimgs/__sprite.png);
    background-position: 0 -54px;
}

.preview .spec-list .arrow-next .sprite-arrow-next {
    display: block;
    width: 22px;
    height: 32px;
    background-image: url(../img/detailimgs/__sprite.png);
    background-position: -78px 0;
}

.preview .spec-list .arrow-prev.disabled i {
    display: block;
    width: 22px;
    height: 32px;
    background: url(../img/detailimgs/disabled_prev.png);
}

.preview .spec-list .arrow-next.disabled i {
    display: block;
    width: 22px;
    height: 32px;
    background: url(../img/detailimgs/disabled-next.png);
}

.preview .spec-list .spec-items {
    width: 290px;
    margin: 0 auto;
    overflow: hidden;
}

.preview .spec-items ul {
    width: 2000px;
}

.preview .spec-list .spec-items ul li {
    margin: 0 4px;
    float: left;
}

.preview .spec-items ul li.img-hover img,
.preview .spec-items ul li:hover img {
    border: 2px solid #e53e41;
}

.preview .preview-info {
    height: 20px;
    color: #666;
    font-size: 12px;
}

.preview .preview-info .left-btns {
    float: left;
}

.preview .preview-info .left-btns a {
    cursor: pointer;
    margin-right: 2px;
    float: left;
}

.preview .preview-info .right-btns {
    float: right;
}

.preview .preview-info .left-btns .follow i {
    display: block;
    margin-right: 5px;
    width: 14px;
    height: 13px;
    float: left;
    background-image: url(../img/detailimgs/__sprite1.png);
    background-position: -44px -40px;
}

.preview .preview-info .left-btns .share i {
    display: block;
    margin-right: 5px;
    width: 15px;
    height: 14px;
    float: left;
    background-image: url(../img/detailimgs/__sprite1.png);
    background-position: -45px -24px;
}

.product-intro .itemInfo-wrap {
    width: 590px;
    float: left;
    margin-left: 30px;
    font-size: 12px;
}

.itemInfo-wrap .sku-name {
    font: 700 16px Arial, "microsoft yahei";
    color: #666;
    padding-top: 10px;
    line-height: 28px;
    margin-bottom: 5px;
}

.itemInfo-wrap .sku-name img {
    vertical-align: -2px;
    width: 58px;
}

.itemInfo-wrap .summary {
    position: relative;
    padding-bottom: 5px;
}

.itemInfo-wrap .summary-price-wrap {
    padding: 10px 0 0;
    background: #f3f3f3;
    height: 90px;
}

.itemInfo-wrap .summary-price-wrap .summary-price {
    position: relative;
    margin-bottom: 5px;
}

.itemInfo-wrap .summary-price-wrap .summary-price .dt {
    line-height: 22px;
}

.itemInfo-wrap .dt {
    float: left;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
}

.itemInfo-wrap .dd {
    margin-left: 70px;
}

.itemInfo-wrap .summary-price-wrap .summary-price .p-price {
    color: #E4393C;
    font-family: "microsoft yahei";
    margin-right: 10px;
}

.itemInfo-wrap .summary-price-wrap .summary-price .p-price span {
    font-size: 16px;
}

.itemInfo-wrap .summary-price-wrap .summary-price .p-price .price {
    font-size: 22px;
}

.itemInfo-wrap .summary-price-wrap .summary-price .notice {
    color: #005aa0;
    vertical-align: 2px;
}

.itemInfo-wrap .summary-price-wrap .summary-info {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 8px;
    color: #999;
}

.itemInfo-wrap .summary-price-wrap .summary-info .item {
    border-left: solid 1px #e6e6e6;
    text-align: center;
    padding: 0 10px;
    line-height: 15px;
}

.itemInfo-wrap .summary-price-wrap .summary-info p {
    color: #999;
}

.itemInfo-wrap .summary-price-wrap .summary-info .count {
    font: 14px verdana;
    color: #005ea7;
}

#summary-quan {
    padding-bottom: 2px;
}

.li {
    margin-bottom: 3px;
    line-height: 32px;
    display: block;
}

#summary-quan .dt {
    line-height: 32px;
}

#summary-quan .dd {
    padding-top: 8px;
}

#summary-quan .quan-item {
    position: relative;
    float: left;
    height: 16px;
    padding-left: 2px;
    line-height: 15px;
    text-align: center;
    border-top: 1px solid #df3033;
    border-bottom: 1px solid #df3033;
    background: #ffdedf;
    font-size: 14px;
    white-space: nowrap;
    margin-right: 13px;
    cursor: pointer;
}

#summary-quan .quan-item b,
#summary-quan .quan-item s {
    position: absolute;
    top: -1px;
    display: block;
    height: 18px;
    width: 2px;
    overflow: hidden;
    background: url(../img/detailimgs/quan_arr.gif) no-repeat;
}

#summary-quan .quan-item s {
    left: 0;
    background-position: -2px 0;
}

#summary-quan .quan-item b {
    right: -2px;
}

#summary-quan .text {
    padding: 0 10px;
    color: #df3033;
    font-size: 12px;
}

#summary-quan .more-btn {
    font-family: SimSun;
    color: #999;
    position: relative;
    float: left;
    height: 16px;
    line-height: 18px;
    cursor: pointer;
}

.summary-stock .store {
    margin-bottom: 5px;
}

.stock-address {
    float: left;
    /* margin-top: -3px; */
    margin-left: -5px;
}

.ui-area-wrap {
    position: relative;
    z-index: 3;
    height: 26px;
    margin-right: 6px;
}

.ui-area-wrap .ui-area-text-wrap {
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 24px 0 4px;
    line-height: 23px;
    overflow: hidden;
}

.ui-area-wrap .ui-area-text-wrap b {
    display: block;
    position: absolute;
    top: 3px;
    right: 4px;
    width: 17px;
    height: 17px;
    background: url(../img/detailimgs/59088392N8b6279bb.png) no-repeat 3px 5px;
    overflow: hidden;
}

.summary-stock .store .store-prompt {
    margin-right: 10px;
    color: #999;
    height: 24px;
    float: left;
}

.summary-stock .store .store-prompt strong {
    margin-right: 5px;
    float: left;
    font-size: 12px;
}

.J-promise-icon.promise-icon {
    position: relative;
    height: 24px;
}

#ns_services.services.services--more {
    padding-right: 25px;
}

#ns_services.services {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #fff;
    font-size: 12px;
}

#ns_services.services a,
#ns_services.services span {
    color: #646FB0;
    font-size: 12px;
    word-break: keep-all;
}

#ns_services.services .arrow {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 13px;
    height: 7px;
    background: url(../img/detailimgs/arr_close.png) no-repeat;
}

.summary-supply {
    clear: both;
    margin-top: -10px;
}

.summary-service {
    color: #999;
}

.hl_red {
    color: #e4393c;
}

.choose-btns {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.choose-btns .choose-amount {
    width: 58px;
    height: 44px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    margin-right: 10px;
    float: left;
}

.choose-btns .choose-amount input {
    display: block;
    width: 43px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 1px;
    left: 0;
    border: none;
    border: 0;
    text-align: center;
}

.choose-btns .choose-amount a.btn-reduce {
    bottom: -1px;
}

.choose-btns .choose-amount a.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.choose-btns .choose-amount a {
    display: block;
    width: 15px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -1px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.choose-btns .choose-amount a.btn-add {
    top: -1px;
}

.choose-btns .btn-lg {
    margin-right: 10px;
    float: left;
}

.btn-lg {
    height: 46px;
    line-height: 46px;
    padding: 0 26px;
    font-size: 18px;
    cursor: pointer;
    font-family: "microsoft yahei";
}

.btn-primary,
.btn-special1 {
    background-color: #df3033;
    color: #fff;
}

.btn-special1,
.btn-special2 {
    font-weight: 700;
}

.itemInfo-wrap .local-tips,
.itemInfo-wrap .summary-tips {
    margin-bottom: 5px;
}

.itemInfo-wrap .local-tips .tips-list li,
.itemInfo-wrap .summary-tips .tips-list li {
    float: left;
    margin-right: 15px;
    font-family: simsun;
    color: #999;
}

/* 详情产品模块制作end */
.main2 {
    width: 100%;
    height: 280px;
}

.ETab .tab-main {
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-bottom: 1px solid #e4393c;
    display: block;
}

.ETab .tab-main li.current {
    background-color: #e4393c;
    color: #fff;
    cursor: default;
}

.ETab div.large li {
    padding: 10px 25px;
    font-size: 14px;
}

.ETab .tab-main li {
    position: relative;
    display: inline-block;
    font-family: "microsoft yahei";
    cursor: pointer;
}

.ETab .tab-con {
    padding: 10px 0;
}

#shop-reco {
    height: 210px;
    overflow: hidden;
}

.plist {
    margin-bottom: 10px;
}

.plist li {
    margin: 10px 20px;
}

.shopRec-content .plist li {
    width: 160px;
    float: left;
}

.plist-2 li {
    position: relative;
}

.sd {
    display: block;
}

.ETooltips .arrow,
.lh,
.p-name,
.plist-2 li,
.sp-search p {
    overflow: hidden;
}

.p-img {
    padding-bottom: 5px;
}

.plist-2 li .p-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    background: rgba(0, 0, 0, .7);
    font-size: 12px;
    display: none;
}

.plist-2 li .p-name a {
    color: #fff;
}

.p-name {
    max-height: 3em;
    min-height: 36px;
    line-height: 1.5em;
    margin-bottom: 5px;
}


.shopRec-content .plist li .p-price {
    text-align: center;
}

.p-price strong {
    color: #e4393c;
    font-size: 14px;
    font-family: Verdana;
}

.main3 {
    width: 100%;
    height: 1000px;
}

.aside {
    float: left;
    width: 210px;
    margin-bottom: 20px;
}

.m-aside,
.m-content {
    margin-bottom: 15px;
}

.m-aside .mt {
    width: 210px;
    padding: 10px;
    height: 42px;
}

.m-aside .mt,
.m-content .mt {
    background-color: #f7f7f7;
    border: 1px solid #eee;
}

.m-aside h3 {
    font: 700 14px "microsoft yahei";
}

.sp-search .mc {
    padding: 8px;
    font-size: 12px;
    color: #666;
}

.m-aside .mc {
    border: 1px solid #eee;
    border-top: none;
    overflow: visible;
}

.sp-search p label {
    width: 5em;
    text-align: right;
}

.sp-search p label,
.sp-search p span {
    display: inline-block;
}

.sp-search p.sp-form-item1 input {
    width: 104px;
}

.sp-search p.sp-form-item2 input {
    width: 44px;
    height: 22px;
}

.sp-form-item1 input,
.sp-form-item2 input,
.sp-form-item3 input {
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 5px;
}

.sp-search p label {
    width: 5em;
    text-align: right;
}

.sp-form-item3 {
    padding-left: 60px;
}

.sp-form-item3 input {

    background: #ddd;
    color: #000;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.detail {
    width: 990px;
    float: right;
    min-height: 220px;
    margin-left: 10px;
}

#detail .tab-main {
    position: relative;
    overflow: visible;
}

.pro-detail-hd-fixed {
    position: fixed;
    top: 0;
    z-index: 30;
    width: 990px;
}

.ETab .tab-main {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-bottom: 1px solid #e4393c;
    display: block;
}

.ETab .tab-main ul {
    background-color: #f7f7f7;
    height: 40px;
}

.ETab .tab-main li.current {
    background-color: #e4393c;
    color: #fff;
    cursor: default;
}

.ETab div.large li {
    float: left;
    padding: 10px 25px;
    font-size: 14px;
}

.ETab .tab-main li {
    position: relative;
    display: inline-block;
    font-family: "microsoft yahei";
    cursor: pointer;
}

.ETab .tab-main .extra {
    position: absolute;
    top: 9px;
    right: 0;
}

.EDropdown,
.EDropdown .head {
    position: relative;
}

.EDropdown .head {
    height: 23px;
    line-height: 23px;
    float: left;
    z-index: 1;
    padding: 1px 1px 0;
    cursor: pointer;
}


.btn-primary {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
}

.btn-primary,
.btn-special1 {
    background-color: #df3033;
    color: #fff;
}

.btn-def,
.btn-primary,
.btn-special1,
.btn-special2,
.btn-special3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#detail .tab-con {
    zoom: 1;
}

.ETab .tab-con {
    padding: 10px 0;
    font-size: 12px;
    color: #666;
}

.p-parameter {
    height: 130px;
    margin-top: 20px;
}

.detail .p-parameter-list {
    height: 42px;
}

.detail .p-parameter-list li {
    width: 200px;
}

.p-parameter ul li {
    padding-left: 42px;
    float: left;
    margin-bottom: 5px;
}

.p-parameter ul li,
.p-parameter ul li .detail p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.quality-life {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e3dddd;
    display: block;
}

.quality-life .q-logo {
    float: left;
    width: 250px;
}

.quality-life ul {
    float: left;
}

.quality-life li {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    margin-right: 20px;
    position: relative;
}

.detail-content {
    margin-top: 90px;
    margin-bottom: 10px;
    background: #f7f7f7;
    height: 256px;
}

.detail-content-wrap {
    width: 100%;
    float: left;
    background-color: #fff;
    border-top: 1px soild #eee;
}

.ssd-module-wrap {
    position: relative;
    margin: 0 auto;
    width: 750px;
    text-align: left;
    background-color: #fff;
}

.ssd-module-wrap .M15692246509791 {
    width: 750px;
    background-color: #f2f2f2;
    background-size: 100% 100%;
    background-image: url(../img/detailimgs/873f5c47be3a48e1.jpg);
    width: 500px;
    height: 656px;
    overflow: hidden;
}

.ssd-module-wrap .ssd-module {
    background-repeat: no-repeat;
    background-position: left top;
}