.w {
    /*内容、版心 提取 */
    width: 1190px;
    margin: 0 auto;
}

/* header头部模块 */
.header {
    position: relative;
    height: 120px;
    /* background: pink; */
}

/* <!-- logo模块制作 --> */
.logo {
    position: absolute;
    top: 30px;
    width: 210px;
    height: 54px;
    /* background: powderblue; */
}

.logo a {
    display: block;
    width: 210px;
    height: 54px;
    background: url(../img/indeximgs/mod_header_logo@2x.png) no-repeat;
    background-size: 210px 54px;
    font-size: 0;
}

/* 搜索框模块制作 */
.search {
    position: absolute;
    top: 38px;
    left: 400px;
    width: 452px;
    height: 36px;
    border: 2px solid #00c04c;
}

.search input {
    float: left;
    width: 366px;
    height: 31px;
    padding-left: 5px;
}

.search button {
    float: left;
    width: 82px;
    height: 31px;
    background: #00c04c;
    color: #fff;
    font-size: 16px;
}

/* 热点词模块 */
.hotwords {
    position: absolute;
    top: 80px;
    left: 400px;
    width: 452px;
    height: 24px;
}

.hotwords a {
    font-size: 14px;
    margin-right: 10px;
    color: #999;
}

.hotwords a:hover {
    color: #00c04c;
}

/* 购物车模块 */
.shopcar {
    position: absolute;
    top: 38px;
    left: 885px;
    width: 138px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    border: 1px solid #DFDFDF;
    background: #F9F9F9;
    z-index: 3;
}

.shopcar .icon-gouwuchekong {
    margin-right: 10px;
}

.shopcar a {
    color: #666;
    font-size: 12px;
}

.shopcar .count {
    position: absolute;
    top: -5px;
    left: 117px;
    height: 16px;
    line-height: 16px;
    background: #f40213;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 7px;
}

#shopcar .dorpdown-layer {
    position: absolute;
    display: none;
    right: 0;
    width: 308px;
}

#shopcar .prompt {
    padding: 10px 15px;
}

#shopcar .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

#shopcar .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(../img/indeximgs/settleup-nogoods.png);
}

#shopcar:hover {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#shopcar:hover .dorpdown-layer {
    display: block;
    margin-top: -2px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

/* 头部二维码模块 */
.headerqrcode {
    position: absolute;
    top: 38px;
    right: 0;
    width: 130px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid #DFDFDF;
    background: #F9F9F9;
}

.headerqrcode a {
    color: #666;
    font-size: 12px;
}

.headerqrcode .headerqrcode_ico {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    background: url(../img/indeximgs/qrcode_25x25@2x.png) no-repeat;
    background-size: 25px 25px;
}

.headerqrcode_qc {
    position: absolute;
    border: 1px solid #dfdfdf;
    width: 130px;
    z-index: 100;
    opacity: 0;
    transition: all .3s;
    top: 35px;
    margin-left: -10px;
}

.headerqrcode:hover .headerqrcode_qc {
    opacity: 1;
}

.headerqrcode_qcimg {
    width: 130px;
    height: 130px;
}

.headerqrcode_qcimg img {
    width: 100%;
    height: 100%;
    background: url(../img/indeximgs/loading.gif) no-repeat 50% !important;
}

/* nav头部导航栏制作 */
.nav {
    height: 40px;
    /* border: 1px solid #222222; */
}

.dropdown {
    width: 190px;
    height: 40px;
    background: #222222;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}



.navitems {
    width: 690px;
    height: 40px;
    margin-left: 44px;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    color: #222;
}

.navitems ul li a:hover {
    color: #00c04c
}

.navitems ul li:nth-child(even) {
    width: 2px;
    height: 14px;
    line-height: 40px;
    background-color: #222;
    margin: 12px 5px 0;
}

.menu_news {
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #00c04c
}

.menu_news .icon-dibudaohanglan- {
    position: absolute;
    right: 0;
}

.menu_news .icon-icon_anquan {
    /* position: absolute;
    left: 10px; */
    margin-right: 8px;
    font-size: 16px;
}

/* 主页主体内容图模块 */
.main1 {
    width: 100%;
    height: 400px;
    background-color: #F0F0F8;
}

.main {
    width: 100%;
    height: 400px;
    background: url(../img/indeximgs/59a3d65eNd604759b.png) no-repeat 50% 0;
}

.main_box {
    position: relative;
    width: 1190px;
    height: 400px;
    /* margin-left: 190px; */
    /* background: pink; */
}

.dd {
    position: relative;
    width: 190px;
    height: 400px;
    display: block;
    float: left;
    z-index: 9;
}

.ddhead {
    width: 190px;
    height: 400px;
    /* background-color: #fff; */
}

#navlist .tab_head_item {
    position: relative;
    width: 190px;
    height: 80px;
    /* margin: 0 10px; */
    background-color: #fff;
    opacity: .8;
    padding: 18px 0 0 5px;
    border-left: 1px solid transparent;
}

#navlist .tab_head_item .icon-dibudaohanglan- {
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}

.tab_head_item .item1,
.tab_head_item .item2,
.tab_head_item .item3,
.tab_head_item .item4 {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ddd;
}

.tab_head_item .item5 {
    position: relative;
    padding-bottom: 15px;
}

.item1 .item_icon {
    display: block;
    float: left;
    background-image: url(../img/indeximgs/sprite_fresh_fs@2x.png);
    background-position: 0 0;
    background-size: 82px 54px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.item2 .item_icon {
    display: block;
    float: left;
    background-image: url(../img/indeximgs/sprite_fresh_fs@2x.png);
    background-position: -28px 0;
    -moz-background-size: 82px 54px;
    background-size: 82px 54px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.item3 .item_icon {
    display: block;
    float: left;
    background-image: url(../img/indeximgs/sprite_fresh_fs@2x.png);
    background-position: 0 -28px;
    -moz-background-size: 82px 54px;
    background-size: 82px 54px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.item4 .item_icon {
    display: block;
    float: left;
    background-image: url(../img/indeximgs/sprite_fresh_fs@2x.png);
    background-position: -28px -28px;
    -moz-background-size: 82px 54px;
    background-size: 82px 54px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.item5 .item_icon {
    display: block;
    float: left;
    background-image: url(../img/indeximgs/sprite_fresh_fs@2x.png);
    background-position: -56px 0;
    -moz-background-size: 82px 54px;
    background-size: 82px 54px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.tab_head_item .item_title {
    display: block;
    position: relative;
    margin-bottom: 7px;
    height: 19px;
    font-size: 14px;
    color: #222;
    font-weight: 700;
}

.tab_head_item .item_children,
.tab_head_item .item_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab_head_item .item_children {
    padding-left: 30px;
}

.tab_head_item .item_children_item {
    display: inline-block;
    padding: 0 5px;
    color: #909090;
    border-left: 1px solid #909090;
    line-height: 1;
    font-size: 12px;
}


.tab_head_item .item_children_item.first {
    border-left: none;
    padding-left: 0;
}

.tab_head_item span {
    cursor: pointer;
}

.tab_head_item span:hover {
    color: #00c65d;
}

.tab_head_item a:hover {
    color: #00c65d;
}

#navlist .navselect {
    border-top: 1.5px solid #ccc;
    border-bottom: 1.5px solid #ccc;
    border-left: 0;
    border-right: 0;
    background: #fff;
    opacity: 1;
    padding-left: 0;
}

.dd .tab_body {
    position: absolute;
    left: 190px;
    top: 0;
    opacity: 1;
    /* width: 800px;
    height: 400px; */
}

.dd .tab_body_item {
    padding: 10px 20px;
    width: 800px;
    min-height: 400px;
    font-size: 12px;
    background: #fff;
    opacity: 1;
    overflow: hidden;
    border: 1px solid #ddd;
}

.fresh_fs_nav_cate {
    float: left;
    width: 760px;
    background: #fff;
}

.fresh_fs_nav_cate .cate_item {
    position: relative;
    padding-left: 80px;
    background: #fff;
}

.fresh_fs_nav_cate .cate_item.item1 .cate_con {
    border-top: none
}

.fresh_fs_nav_cate .cate_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis
}

.fresh_fs_nav_cate .cate_tit_lk {
    color: #666
}

.fresh_fs_nav_cate .cate_tit_lk:hover {
    color: #00c65d
}

.fresh_fs_nav_cate .cate_tit_arrow {
    font-family: simsun;
    margin-left: 5px
}

.fresh_fs_nav_cate .cate_con {
    overflow: hidden;
    padding: 6px 0;
    border-top: 1px solid #eee
}

.fresh_fs_nav_cate .cate_con_lk {
    float: left;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
    color: #666
}

.fresh_fs_nav_cate .cate_con_lk:hover {
    color: #00c65d
}

/* 主页轮播图模块 */
.focus {
    position: relative;
    float: left;
    width: 800px;
    height: 400px;
    z-index: 0;
    /* background: purple; */
}

.swiper-container {
    position: relative;
    float: left;
    width: 800px;
    height: 400px;
    z-index: 0;
}

.swiper-slide {
    width: 800px;
    height: 400px;
    line-height: 400px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.swiper-pagination {
    position: absolute;
    bottom: 18px;
    width: 800px;
    height: 8px;
    text-align: center;
    font-size: 0;
}

.swiper-pagination-bullet {
    margin: 0 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #919596;
    border: 1px solid #fff;
    -moz-border-radius: 8px;
    border-radius: 8px
}


.swiper-pagination-bullet-active {
    width: 24px;
    border-color: #d3d4d5;
    background: #d3d4d5
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: #ccc;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: 60px;
    background-image: none;
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}

.slider_indicators {
    position: absolute;
    bottom: 18px;
    width: 800px;
    height: 8px;
    text-align: center;
    font-size: 0;
}

.slider_indicators_btn {
    margin: 0 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #919596;
    border: 1px solid #fff;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.slider_indicators_btn_active {
    width: 24px;
    border-color: #d3d4d5;
    background: #d3d4d5
}

/* 左右按钮样式*/
.posibtn {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
}

.posibtn p {
    position: absolute;
    top: 0;
    width: 30px;
    height: 60px;
    background: #ccc;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: 60px;
    /* display: none; */
}

.posibtn p:hover {
    background-color: rgba(0, 0, 0, .5);
}

.posibtn p:nth-child(1) {
    left: 0px;
}

.posibtn p:nth-child(2) {
    right: 0px;
}

/* 主页新闻模块 */
.newsflash {
    float: right;
    width: 200px;
    height: 400px;
    border-top: 4px solid #00c65d;
}

.newsflash .newscon {
    height: 136px;
    background: #fff;
}

.newscon .ntitle {
    position: relative;
    height: 24px;
    padding: 16px 0;
    font-size: 16px;
    color: #222;
    text-align: center;
}

.ntitle em {
    color: #00c65d;
}

.ntitle_l,
.ntitle_r {
    display: block;
    position: absolute;
    top: 25px;
    width: 50px;
    height: 1px;
    background: #f0f0f8;
}

.ntitle_l {
    left: 10px;
}

.ntitle_r {
    right: 10px;
}

.ntitle_tex {
    display: inline-block;
    width: 75px;
    height: 24px;
    overflow: hidden;
}

.ntitle_l:after,
.ntitle_r:after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 2px;
    background: #222;
    bottom: 0;
}

.ntitle_l:after {
    right: 0;
}

.ntitle_r:after {
    left: 0;
}

.newslist {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.news_item {
    position: relative;
    display: block;
    margin: 0 16px 6px 0;
    padding-left: 18px;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    transition: color .25s ease
}

.news_item:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -2px;
    width: 3px;
    height: 3px;
    background: #6f6f6f;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease
}

.news_item:hover {
    color: #00c65d
}

.news_item:hover:before {
    top: 0;
    margin-top: 0;
    height: 100%;
    background: #00c65d
}

.fresh_fs_act {
    position: relative;
    display: block;
    width: 100%;
    height: 260px
}

.fresh_fs_act_img {
    width: 240px;
    height: 100%
}

.fresh_fs_bgl {
    position: absolute;
    z-index: 5;
    top: 340px;
    left: -320px;
    background-image: url(../img/indeximgs/sprite_fresh_bgs.png);
    background-position: -335px -354px;
    background-repeat: no-repeat;
    width: 174px;
    height: 120px
}

.fresh_fs_shadow {
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 1190px;
    height: 24px;
    background: url(../img/indeximgs/fresh_fs_shadow.png) 0 0 no-repeat
}

/* 主页服务模块 */
.main_server {
    height: 180px;
    /* margin-top: 50px; */
    color: #666 !important;
    background: #F0F0F8;
}

/* 主页身/临/食/感模块 */
.fresh_slim {
    padding-top: 50px;
    width: 100%;
    height: 684px;
    background: #fff;
}

.fresh_mod_head {
    height: 60px;
    background: url(../img/indeximgs/fresh_mod_head_bg.png) 0 0 no-repeat
}

.fresh_mod_head_inner {
    margin: 0 auto;
    width: 284px;
    text-align: center
}

.fresh_mod_head_title {
    height: 42px;
    line-height: 42px;
    font-size: 28px;
    font-weight: 400;
    color: #222;
    overflow: hidden
}

.fresh_mod_head_title i {
    margin: 0 10px;
    color: #909090;
    font-size: 24px
}

.fresh_mod_head_subtitle {
    height: 21px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    overflow: hidden
}

.fresh_slim_body {
    position: relative
}

.fresh_slim_tab {
    position: relative;
    z-index: 2
}

.fresh_slim .tab_head {
    margin-left: 400px;
    height: 80px;
    /* overflow: hidden */
}

.fresh_slim .tab_head_item {
    float: left;
    margin-right: 70px;
    padding: 20px 0 16px;
    font-size: 20px;
    height: 80px;
    color: #222;
    border-bottom: 4px solid #fff;
    cursor: pointer
}

.fresh_slim .tab_head_item.active {
    border-bottom-color: #222
}

.fresh_slim .tab_body {
    height: 400px
}

.fresh_slim_theme {
    position: relative;
    float: left;
    margin-right: 60px;
    padding: 72px 0 0 50px;
    width: 290px;
    height: 328px;
    color: #f0f0f8
}

.fresh_slim_theme.nolink {
    cursor: default
}

.fresh_slim_theme_title {
    position: relative;
    display: inline-block;
    padding-bottom: 21px;
    margin-bottom: 30px;
    height: 56px;
    line-height: 42px;
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis
}

.fresh_slim_theme_title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.fresh_slim_theme_desc {
    position: relative;
    font-size: 16px;
    line-height: 30px
}

.fresh_slim_theme_img {
    position: absolute;
    bottom: -140px;
    right: -80px;
    width: 480px;
    height: 200px;
    background: none !important
}

.fresh_slim_theme:hover {
    color: #fff
}

.fresh_slim_theme.haslink:hover .fresh_slim_theme_title:after {
    width: 100%
}

.fresh_slim_body_bg {
    position: absolute;
    left: -119px;
    top: -15px;
    width: 1339px;
    height: 496px;
    background: url(../img/indeximgs/fresh_slim_body_bg.png) 0 0 no-repeat
}

.fresh_slim_goods {
    position: relative;
    float: left;
    margin-top: 65px;
    width: 790px;
    height: 285px;
    -moz-border-radius: 0 0 50px 0;
    border-radius: 0 0 50px 0;
    background: #f6f6f5
}

.fresh_slim_goods .slider_list {
    width: 790px;
    height: 285px
}

.fresh_slim .goods_item {
    float: left;
    width: 198px;
    height: 285px
}

.fresh_slim .goods_item_inner {
    padding: 12px 20px 22px
}

.fresh_slim .goods_item_link {
    display: block;
    text-align: center
}

.fresh_slim .goods_item_link:hover .goods_item_name {
    color: #00c65d
}

.fresh_slim .goods_item_link:hover .goods_item_img {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
}

.fresh_slim .goods_item_img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.fresh_slim .goods_item_name {
    margin-bottom: 10px;
    line-height: 1.8;
    height: 50px;
    font-size: 14px;
    color: #222;
    text-align: left;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

.fresh_slim .goods_item_row {
    position: relative
}

.fresh_slim .goods_item_price {
    font-size: 18px;
    color: #ff541f
}

.fresh_slim .goods_item_good {
    position: absolute;
    right: 0;
    top: 0;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    color: #909090
}

.slider_control {
    position: absolute;
    z-index: 3;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: simsun;
    font-size: 20px;
    background: #ccc;
    color: #fff
}

.slider_control_pre {
    left: 0
}

.slider_control_next {
    right: 0
}

/* 主页京/东/生/鲜模块 */
.freshmain {
    background: #F0F0F8;
    padding-top: 50px;
    height: 2930px;
}

.fresh_category {
    position: relative;
    padding-top: 1px;
    margin-bottom: 40px;
}

.fresh_category_6 .fresh_category_bgl {
    left: -40px;
    bottom: -93px;
    background-image: url(../img/indeximgs/sprite_fresh_bgs.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 331px;
    height: 199px
}

.fresh_category_body {
    position: relative;
    z-index: 2;
    background: #fff;
}

.fresh_category_acts {
    height: 300px
}

.fresh_category_act1 {
    float: left;
    padding: 0 20px;
    width: 200px;
    height: 300px;
    background: #33b969
}

.fresh_category_title {
    margin-bottom: 5px;
    padding-top: 22px;
    height: 60px;
    font-size: 26px;
    color: #fff;
    overflow: hidden
}

.fresh_category_subtitle {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden
}

.fresh_category_subtitle:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 59px;
    height: 4px;
    background: #fff
}

.fresh_category_keys {
    margin-bottom: 2px;
    height: 117px;
    overflow: hidden
}

.fresh_category_keys_item {
    float: left;
    margin: 0 9px 9px 0;
    padding: 0 13px;
    max-width: 132px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid #ddd;
    background: none;
    background: rgba(247, 247, 251, .2);
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden
}

.fresh_category_keys_item:hover {
    color: #fff;
    background: rgba(247, 247, 251, .4)
}

.fresh_category_more {
    position: relative;
    display: block;
    padding: 0 22px 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #00c65d;
    background: #ecf2f9;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden
}

.fresh_category_more:after {
    content: ">";
    position: absolute;
    top: 0;
    right: 8px;
    line-height: 28px;
    font-size: 20px
}

.fresh_category_more:hover {
    color: #00c65d
}

.fresh_category_act2 {
    float: left;
    width: 600px;
    height: 300px
}

.fresh_category_act2_img {
    width: 600px;
    height: 300px
}

.fresh_category_act3 {
    float: left;
    width: 390px;
    height: 300px
}

.fresh_category_act3_img {
    width: 430px;
    height: 100%
}

.fresh_category_goods {
    height: 290px;
    overflow: hidden
}

.fresh_category_goods .goods_item {
    float: left;
    padding: 30px 20px 0;
    width: 194px;
    height: 290px
}

.fresh_category_goods .goods_item_link {
    display: block;
    text-align: center
}

.fresh_category_goods .goods_item_link:hover .goods_item_name {
    color: #00c65d
}

.fresh_category_goods .goods_item_link:hover .goods_item_img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.fresh_category_goods .goods_item_img {
    margin-bottom: 18px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 150px;
    height: 150px
}

.fresh_category_goods .goods_item_name {
    margin-bottom: 4px;
    width: 158px;
    height: 40px;
    font-size: 14px;
    color: #222;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: lighter;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out
}

.fresh_category_goods .goods_item_price {
    font-size: 18px;
    color: #ff541f
}

.fresh_category_brands .brands_item {
    float: left;
    width: 119px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #f0f0f8;
    border-left: 0
}

.fresh_categorys_brands .brands_item {
    float: left;
    width: 117px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #f0f0f8;
    border-left: 0
}

.fresh_category_brands .brands_item:hover .brands_item_img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.fresh_categorys_brands .brands_item:hover .brands_item_img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.fresh_category_brands .brands_item.first {
    width: 119px;
    border-left: 1px solid #f0f0f8
}

.fresh_categorys_brands .brands_item.first {
    width: 121px;
    border-left: 1px solid #f0f0f8
}

.fresh_category_brands .brands_item_img {
    max-width: 100%;
    padding-top: 5px;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.fresh_categorys_brands .brands_item_img {
    max-width: 100%;
    padding-top: 5px;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.fresh_category_bgl,
.fresh_category_bgr {
    position: absolute;
    z-index: 1
}

.fresh_category_6 .fresh_category_bgl {
    left: -40px;
    bottom: -93px;
    background-image: url(../img/indeximgs/sprite_fresh_bgs.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 331px;
    height: 199px
}

/* 主页海鲜水产模块 */
.fresh_category_7 .fresh_category_bgl {
    left: -76px;
    bottom: 96px;
    background-image: url(../img/indeximgs/sprite_fresh_bgs.png);
    background-position: -170px -203px;
    background-repeat: no-repeat;
    width: 141px;
    height: 141px
}

/* 主页肉禽蛋品模块 */
.fresh_category_8 .fresh_category_bgl {
    left: -150px;
    bottom: 40px;
    width: 464px;
    height: 553px;
    background: url(../img/indeximgs/fresh_category3_bg_left.png) 0 0 no-repeat
}

.fresh_category_8 .fresh_category_bgr {
    right: -291px;
    bottom: 85px;
    width: 407px;
    height: 747px;
    background: url(../img/indeximgs/fresh_category3_bg_right.png) 0 0 no-repeat
}

/* 主页冷冻饮品/新鲜蔬菜模块 */
.fresh_categorys {
    position: relative;
    margin-bottom: 80px
}

.fresh_categorys_col {
    position: relative;
    z-index: 2;
    float: left;
    width: 590px;
    margin-right: 10px;
    background: #fff
}

.fresh_categorys_col.one {
    overflow: hidden
}

.fresh_categorys_col.two {
    margin-right: 0
}

.fresh_categorys .goods_item {
    width: 156px
}

.fresh_categorys .brands_item {
    width: 117px
}

.fresh_categorys .brands_item.first {
    width: 116px
}

.fresh_categorys_9 .fresh_categorys_bgr {
    position: absolute;
    right: -103px;
    bottom: -80px;
    background-image: url(../img/indeximgs/sprite_fresh_bgs.png);
    background-position: 0 -203px;
    background-repeat: no-repeat;
    width: 166px;
    height: 314px
}

/* 主页 食／鲜／者／说模块 */
.fresh_comments {
    height: 430px;
    background: #1d2224 url(../img/indeximgs/fresh_comments_bg.jpg) 50% no-repeat
}

.fresh_commentsinner {
    padding-top: 60px
}

.fresh_comments .fresh_mod_head {
    margin-bottom: 32px
}

.fresh_mod_head.white .fresh_mod_head_title {
    color: #fff;
}

.fresh_mod_head_title {
    height: 42px;
    line-height: 42px;
    font-size: 28px;
    font-weight: 400;
    color: #222;
    overflow: hidden;
}

.fresh_mod_head.white .fresh_mod_head_subtitle {
    color: #a5a8aa;
    color: hsla(0, 0%, 100%, .5);
}

.fresh_mod_head_subtitle {
    height: 21px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    overflow: hidden;
}

.fresh_comments_body {
    overflow: hidden
}

.fresh_comments .fresh_mod_head {
    margin-bottom: 32px
}

.fresh_comments_slider {
    position: relative;
    width: 1190px;
    height: 278px;
}

.fresh_comments .slider_control {
    margin-top: -15px
}

.fresh_comments .slider_list {
    margin-bottom: 20px
}

.fresh_comments .goods_item {
    height: 230px;
    float: left
}

.fresh_comments .goods_item_inner {
    position: relative;
    margin-top: 30px;
    width: 390px;
    height: 200px;
    background: #f7f7fb
}

.fresh_comments .goods_item.position2 .goods_item_inner {
    margin-left: auto;
    margin-right: auto
}

.fresh_comments .goods_item.position3 .goods_item_inner {
    float: right
}

.fresh_comments .goods_item_link {
    position: absolute;
    left: 20px;
    top: 60px
}

.fresh_comments .goods_item_img {
    width: 120px;
    height: 120px
}

.fresh_comments .goods_item_person {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    text-align: center
}

.fresh_comments .goods_item_person_avator {
    margin-bottom: 4px;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    -moz-border-radius: 58px;
    border-radius: 58px
}

.fresh_comments .goods_item_person_name {
    font-size: 14px;
    color: #222
}

.fresh_comments .goods_item_comment {
    padding: 70px 20px 0 160px
}

.fresh_comments .goods_item_comment_star {
    position: relative;
    margin-bottom: 7px;
    width: 78px;
    height: 11px;
    line-height: 11px;
    font-size: 11px
}

.fresh_comments .goods_item_comment_star .green {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 11px;
    line-height: 11px;
    font-size: 11px
}

.fresh_comments .goods_item_comment_star .icon-guanzhu {
    color: #00c65d;
    font-size: 11px;
}

.fresh_comments .goods_item_comment_text {
    margin-bottom: 30px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 12px
}

.fresh_comments .goods_item_comment_time {
    color: #909090;
    font-size: 12px
}

/* 底部侧栏固定模块制作 */

.mod_lift {
    width: 40px;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 100;
}

.mod_lift_list1 {
    margin-bottom: 11px
}

.mod_lift_item {
    width: 100%;
    height: 50px;
    margin-bottom: 1px
}

.mod_lift_item.last {
    margin-bottom: 0
}

.mod_lift_item_btn {
    display: inline-block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #a7a7a7;
    background: rgba(34, 34, 34, .4);
    transition: background .25s ease-in-out
}

.mod_lift_item_btn_txt {
    display: inline-block;
    padding: 0 4px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    line-height: 13px
}

.mod_lift_item.active2 .mod_lift_item_btn,
.mod_lift_item.active .mod_lift_item_btn,
.mod_lift_item:hover .mod_lift_item_btn {
    color: #fff;
    background: #00c65d
}

.mod_lift_top_icon {
    display: inline-block;
    margin-top: 6px;
    width: 12px;
    height: 7px;
    font-size: 7px
}

.mod_lift_dong_icon {
    font-size: 24px
}

.mod_lift_cart_icon {
    font-size: 23px
}